<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.select(:category_id, options_from_collection_for_select(@category, :id, :name), {prompt: 'Select Category' }) %>
  </div>
  <div class="field">
    <%= f.label :price_purchase %><br>
    <%= f.text_field :price_purchase %>
  </div>
  <div class="field">
    <%= f.label :price_normal %><br>
    <%= f.text_field :price_normal %>
  </div>
  <div class="field">
    <%= f.label :price_reseller %><br>
    <%= f.text_field :price_reseller %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
